html,
body
  padding: 0
  margin: 0
  font-family: Helvetica Neue, sans-serif

.hero
  background-color: lightblue
  display: flex
  justify-content: center
  align-items: center
  padding-top: 10rem
  padding-bottom: 3rem

.hero_intro
  position: relative
  width: 300px
  h2, h3
    position: absolute
  h1
    font-size: 3rem
  h2
    font-size: 2rem
    top: 3.5rem
  h3
    font-size: 0.75rem
    top: 7rem

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box

@media (prefers-color-scheme: dark)
  html
    color-scheme: dark

  body
    color: white
    background: black
