html,
body
  padding: 0
  margin: 0
  font-family: Helvetica Neue, sans-serif

.hero
  background-color: lightblue
  display: flex
  justify-content: center
  align-items: center

.hero_intro
  h1, h2, h3
    margin: 0

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box

@media (prefers-color-scheme: dark)
  html
    color-scheme: dark

  body
    color: white
    background: black
